{
    "env": {
        "node": true,
        "es6": true
    },
    "extends": [
        "airbnb",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "comma-dangle": "off",
        "prettier/prettier": [
            "error"
        ]
    }
}